---
import heartIconURL from "../assets/icon-heart.svg"
import MovieInfo from "./MovieDetailInfo.astro"

export interface Props {
  pid: string;
}

const { pid = "1" } = Astro.props;

const endpoint =
  "https://api.themoviedb.org/3/movie/" +
  pid +
  "?api_key=" +
  import.meta.env.SECRET_KEY;

const response = await fetch(endpoint)
  .then((r) => r.json())
  .catch(function (error) {
    console.log(error);
  });

const movie = response;

---

<div class="px-6 text-gray-800">
  <div
    class="flex xl:justify-center lg:justify-between h-full g-6"
  >
    <div
      class="basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 "
    >
      <img
        class="w-full"
        src={"https://image.tmdb.org/t/p/w500" + movie.poster_path}
        alt={"Poster of " + movie.original_title}
      />
    </div>
    <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 break-words">
      <h2 class="text-5xl font-bold">{movie.original_title}</h2>
      <a href="#" class="block py-4" data-fav={movie.id}>
        <img src={heartIconURL} alt="Heart icon" class="w-6"/>
      </a>
      <p class="py-4">{movie.overview}</p>
      <MovieInfo movie={movie} />
    </div>
  </div>
</div>

<!-- {JSON.stringify(movie)} -->
