---
export interface Props {
  movie: any;
}

import HeartIconURL from "../assets/icon-heart.svg";
import solidHeartIconURL from "../assets/icon-heart-solid.svg";

const { movie } = Astro.props;
---

<li class="p-4 md:w-1/4">
  <div
    class="block relative bg-white h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden hover:scale-110 transition-all"
  >
    <a href={"/movie/" + movie.id} target="_blank" class="">
      <span>
        <img
          src={"https://image.tmdb.org/t/p/w500" + movie.poster_path}
          alt={"Poster of " + movie.original_title}
        />
      </span>
      <div class="p-2">
        <span>{movie.original_title}</span>
        <span>({movie.release_date})</span>
      </div>
    </a>
    <a
      href="#"
      class="block my-4 absolute top-[-.5rem] right-2 w-7 ml-auto transition-all rounded-full border-4 border-white bg-white"
      data-fav={movie.id}
      data-fav-title={movie.original_title}
      data-fav-thumb={movie.poster_path}
    >
      <img
        src={HeartIconURL}
        alt="Heart icon"
        class="w-8 hover:scale-125 transition-all"
      />
      <img
        src={solidHeartIconURL}
        alt="Heart icon"
        class="w-8 absolute hidden top-0 left-0 hover:scale-125 transition-all"
      />
    </a>
  </div>
</li>
